.logo-top{
    margin-bottom: 0px;
    margin-top: 17px;
    border: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    color: #224855;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.navbar-inverse{
    background-color:#009BCA;
    border: none;
}
#menu-icon {
     color: white;
    font-weight: 600;
}

#tog-eve:focus { 
    background-color: #DCDCDC;
}

body{
    
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
.log-row {
    margin-top: 100px;
    border: 2px sloid #333 !important;
    width: 100%;
}

#login-box {
    padding-top: 10px;
/*    border: 2px solid #333;*/
    padding-left: 50px;
    background-color: white;
    padding-right: 50px;
    border-radius: 7px;
}


h3 {
    margin-top: 0px;
/*    border-bottom: 1px solid #ccc;*/
    padding-bottom: 10px;
}

body {
/*    background: #eee !important;*/
}

.navbar-inverse {
    border-radius: 0px;
}

.home-con {
    padding-top: 10px;
/*    border: 2px solid #333;*/
    padding-left: 50px;
    background-color: white;
    padding-right: 50px;
    border-radius: 7px;
}

.test-con {
/*    border: 2px solid #333;*/
    width: 1267px;
    padding-left:200px;
    padding-top: 50px;
    background-color: white;
    border-radius: 7px;
/*    margin-left: 310px;*/
}

.conig-con {
    padding-top: 10px;
/*    border: 2px solid #333;*/
    background-color: white;
    border-radius: 7px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#static {
    font-weight: 700;
}

#change {
    background-color: azure;
    cursor: pointer;
}